@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (max-width: 420px) {
  header.header>.container, .headerNavMenu>ul {
    @apply flex-col
  }
}
@media (max-width: 950px) {
  .heroSection>.container>.inner {
    @apply flex-col
  }
  .heroSection>.container>.inner>.left {
    @apply text-center
  }
  .heroSection>.container>.inner>.right {
    @apply flex justify-center
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply px-3 py-1 rounded
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
